<h1 style="margin: 1rem 0">Verify Your Email</h1>
<p style="padding-bottom: 16px">
  Please click the button below to verify your email address.
</p>
<p style="padding-bottom: 16px">
  <a href="<%= frontendURL %>/en/verify-email?token=<%= token %>" 
     style="display: inline-block; background-color: #52bbab; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 4px; font-size: 110%;">
    Verify Email
  </a>
</p>
<p style="padding-bottom: 16px">
  If you didn’t request this, you can safely ignore this email.
</p>
<p style="padding-bottom: 16px">Thanks,<br /></p>
